* {
    margin: 0;
    padding: 0;
}

#myCanvas {
    border: 2px solid #000;
}

.imageNone {
    display: none;
}

#responsityCanvas {
    display: block;
    /*    width: 54%;*/
    /*    margin: auto;*/
    /* od e.ClientX odiąć lewy margin */
}
